footer {
  background-color: #f2ce1b;
  bottom: 0;
  display: flex;
  height: 52px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

footer img {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
