@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap') ;

.profile-email {
  color: #f2efeb;
  font-family: Lobster , cursive;
  font-size: 30px;
  text-align: center;
}

.profile-btns-container {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.profile-btns-container > button {
  background-color: #8d180e;
  border: none;
  border-radius: 5px;
  color: #f2efeb;
  font-weight: 900;
  padding: 12px;
}
