.card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 160px;
}

.card img {
  border-radius: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.card span {
  padding-bottom: 5px;
}

.card-link {
  color: #f2efeb;
  text-align: center;
  text-decoration: none;
}
