.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  width: 100vw;
}

.filter-btns {
  background-color: #8d180e;
  border: #f2efeb;
  border-radius: 5px;
  color: #f2efeb;
  font-weight: 900;
  padding: 2px;
}

.categories-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
